@mixin media-breakpoint($key, $type: max, $breakpoints: $breakpoints) {
    $width: map-get($breakpoints, $key);
    $width: if($width != 0, $width, null);

    $fix: 0;
    @if $type == 'min' and $breakpoints != 'custom' {
        $fix: +1px;
    }

    @if $width {
        @media (#{$type}-width: $width + $fix) {
            @content;
        }
    } @else {
        @content;
    }
}
