@mixin transition($properties,  $time: $default__transition-time, $easing: ease-in-out) {
    $transition: ();
    @each $key in $properties {
        $transition: append($transition, $key $time $easing, comma);
    }
    transition: $transition;
}

@mixin transition--all($time: $default__transition-time) {
    @include transition((all));
}

@mixin transition--color($time: $default__transition-time) {
    @include transition((color, background-color, border-color, opacity, box-shadow, stroke, fill));
}
