@mixin transition($property: all,  $time: $default__transition-time, $easing: ease-out) {
    transition: $property $time $easing;
}

@mixin transition--all($time: $default__transition-time) {
    transition: all $time ease-out;
}

@mixin transition--color($time: $default__transition-time) {
    transition:
        color $time ease-in-out,
        background-color $time ease-in-out,
        border-color $time ease-in-out,
        opacity $time ease-in-out,
        box-shadow $time ease-in-out;
}
