@mixin media-breakpoint($key, $type: max, $breakpoints: $breakpoints) {
    $width: map-get($breakpoints, $key);
    $width: if($width != 0, $width, null);

    $fix: 0;
    @if $type == 'min' and $breakpoints != 'custom' {
        $fix: +1px;
    }

    @if $width {
        @media (#{$type}-width: $width + $fix) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin columns($columns, $gap: 1em) {
    column-count: $columns;
    column-gap: $gap;
}

@mixin transition($time: $default__transition-time) {
    transition: all $time ease-out;
}

@mixin transition-color($time: $default__transition-time) {
    transition:
        color $time ease-in-out,
        background-color $time ease-in-out,
        border-color $time ease-in-out,
        opacity $time ease-in-out,
        box-shadow $time ease-in-out;
}

@mixin aspect-ratio($aspect-ratio: 100%) {
    position: relative;
    padding-top: $aspect-ratio;

    > * {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

@mixin centered($horizontal: true, $vertical: true) {
    position: absolute;

    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin cross-styles($style, $value) {
    #{$style}: #{$value};
    -o-#{$style}: #{$value};
    -moz-#{$style}: #{$value};
    -ms-#{$style}: #{$value};
    -webkit-#{$style}: #{$value};
}

@mixin font-face($face, $path, $style, $weight, $id: '') {
    @font-face {
        font-family: $face;
        font-style: $style;
        font-weight: $weight;
        src:
            url('#{$path}.eot') format('eot'),
            url('#{$path}.woff') format('woff'),
            url('#{$path}.woff2') format('woff2'),
            url('#{$path}.ttf') format('truetype'),
            url('#{$path}.svg#' + #{$id}) format('svg');
        font-display: swap
    }
}
