@each $key, $value in $colors {
    %border--#{$key} {
        border: 1px solid $value;
    }

    %border-top--#{$key} {
        border-top: 1px solid $value;
    }

    %border-right--#{$key} {
        border-right: 1px solid $value;
    }

    %border-bottom--#{$key} {
        border-bottom: 1px solid $value;
    }

    %border-left--#{$key} {
        border-left: 1px solid $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $colors {
        %border__#{$breakpoints}-max--#{$key} {
            @include media-breakpoint($breakpoints, max) {
                border: 1px solid $value;
            }
        }

        %border__#{$breakpoints}-min--#{$key} {
            @include media-breakpoint($breakpoints, min) {
                border: 1px solid $value;
            }
        }

        %border-top__#{$breakpoints}-max--#{$key} {
            @include media-breakpoint($breakpoints, max) {
                border-top: 1px solid $value;
            }
        }

        %border-top__#{$breakpoints}-min--#{$key} {
            @include media-breakpoint($breakpoints, min) {
                border-top: 1px solid $value;
            }
        }

        %border-right__#{$breakpoints}-max--#{$key} {
            @include media-breakpoint($breakpoints, max) {
                border-right: 1px solid $value;
            }
        }

        %border-right__#{$breakpoints}-min--#{$key} {
            @include media-breakpoint($breakpoints, min) {
                border-right: 1px solid $value;
            }
        }

        %border-bottom__#{$breakpoints}-max--#{$key} {
            @include media-breakpoint($breakpoints, max) {
                border-bottom: 1px solid $value;
            }
        }

        %border-bottom__#{$breakpoints}-min--#{$key} {
            @include media-breakpoint($breakpoints, min) {
                border-bottom: 1px solid $value;
            }
        }

        %border-left__#{$breakpoints}-max--#{$key} {
            @include media-breakpoint($breakpoints, max) {
                border-left: 1px solid $value;
            }
        }

        %border-left__#{$breakpoints}-min--#{$key} {
            @include media-breakpoint($breakpoints, min) {
                border-left: 1px solid $value;
            }
        }
    }
}
