@each $key, $value in $colors {
    %border__#{$key} {
        border: 1px solid $value;
    }

    %border-top__#{$key} {
        border-top: 1px solid $value;
    }

    %border-right__#{$key} {
        border-right: 1px solid $value;
    }

    %border-bottom__#{$key} {
        border-bottom: 1px solid $value;
    }

    %border-left__#{$key} {
        border-left: 1px solid $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $colors {
        %border__#{$key}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                border: 1px solid $value;
            }
        }

        %border__#{$key}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                border: 1px solid $value;
            }
        }

        %border-top__#{$key}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                border-top: 1px solid $value;
            }
        }

        %border-top__#{$key}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                border-top: 1px solid $value;
            }
        }

        %border-right__#{$key}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                border-right: 1px solid $value;
            }
        }

        %border-right__#{$key}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                border-right: 1px solid $value;
            }
        }

        %border-bottom__#{$key}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                border-bottom: 1px solid $value;
            }
        }

        %border-bottom__#{$key}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                border-bottom: 1px solid $value;
            }
        }

        %border-left__#{$key}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                border-left: 1px solid $value;
            }
        }

        %border-left__#{$key}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                border-left: 1px solid $value;
            }
        }
    }
}
