@each $key, $value in $colors {
    %color__#{$key} {
        color: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $colors {
        %color__#{$key}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                color: $value;
            }
        }

        %color__#{$key}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                color: $value;
            }
        }
    }
}
