@each $value in $cursor {
    %cursor--#{$value} {
        cursor: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $cursor {
        %cursor__#{$breakpoints}-max--#{$value} {
            @include media-breakpoint($breakpoints, max) {
                cursor: $value;
            }
        }

        %cursor__#{$breakpoints}-min--#{$value} {
            @include media-breakpoint($breakpoints, min) {
                cursor: $value;
            }
        }
    }
}
