@each $value in $display {
    %display--#{$value} {
        display: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $display {
        %display__#{$breakpoints}-max--#{$value} {
            @include media-breakpoint($breakpoints, max) {
                display: $value;
            }
        }

        %display__#{$breakpoints}-min--#{$value} {
            @include media-breakpoint($breakpoints, min) {
                display: $value;
            }
        }
    }
}
