@each $value in $float {
    %float__#{$value} {
        float: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $float {
        %float__#{$value}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                float: $value;
            }
        }

        %float__#{$value}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                float: $value;
            }
        }
    }
}
