@each $value in $float {
    %float--#{$value} {
        float: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $float {
        %float__#{$breakpoints}-max--#{$value} {
            @include media-breakpoint($breakpoints, max) {
                float: $value;
            }
        }

        %float__#{$breakpoints}-min--#{$value} {
            @include media-breakpoint($breakpoints, min) {
                float: $value;
            }
        }
    }
}
