@each $key, $value in $font-families {
    %font-family__#{$key} {
        font-family: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $font-families {
        %font-family__#{$key}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                font-family: $value;
            }
        }

        %font-family__#{$key}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                font-family: $value;
            }
        }
    }
}
