@each $key, $value in $font-weights {
    %font-weight--#{$key} {
        font-weight: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $font-weights {
        %font-weight__#{$breakpoints}-max--#{$key} {
            @include media-breakpoint($breakpoints, max) {
                font-weight: $value;
            }
        }

        %font-weight__#{$breakpoints}-min--#{$key} {
            @include media-breakpoint($breakpoints, min) {
                font-weight: $value;
            }
        }
    }
}
