//display
@each $value in $display {
    %display--#{$value} {
        display: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $display {
        %display__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                display: $value;
            }
        }
    }
}


//position
@each $value in $position {
    %position--#{$value} {
        position: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $position {
        %position__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                position: $value;
            }
        }
    }
}


//float
@each $value in $float {
    %float--#{$value} {
        float: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $float {
        %float__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                float: $value;
            }
        }
    }
}


//visibility
@each $value in $visibility {
    %visibility--#{$value} {
        visibility: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $visibility {
        %visibility__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                visibility: $value;
            }
        }
    }
}
