@each $value in $position {
    %position__#{$value} {
        position: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $position {
        %position__#{$value}--#{$breakpoints}-max {
            @include media-breakpoint($breakpoints, max) {
                position: $value;
            }
        }

        %position__#{$value}--#{$breakpoints}-min {
            @include media-breakpoint($breakpoints, min) {
                position: $value;
            }
        }
    }
}
