@each $value in $position {
    %position--#{$value} {
        position: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $position {
        %position__#{$breakpoints}-max--#{$value} {
            @include media-breakpoint($breakpoints, max) {
                position: $value;
            }
        }

        %position__#{$breakpoints}-min--#{$value} {
            @include media-breakpoint($breakpoints, min) {
                position: $value;
            }
        }
    }
}
