//font-family
@each $key, $value in $font-families {
    %font-family--#{$key} {
        font-family: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $font-families {
        %font-family__#{$breakpoints}--#{$key} {
            @include media-breakpoint($breakpoints) {
                font-family: $value;
            }
        }
    }
}


//font-size
@each $key, $value in $font-sizes {
    %font-size--#{$key} {
        font-size: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $font-sizes {
        %font-size__#{$breakpoints}--#{$key} {
            @include media-breakpoint($breakpoints) {
                font-size: $value;
            }
        }
    }
}


//font-weight
@each $key, $value in $font-weights {
    %font-weight--#{$key} {
        font-weight: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $font-weights {
        %font-weight__#{$breakpoints}--#{$key} {
            @include media-breakpoint($breakpoints) {
                font-weight: $value;
            }
        }
    }
}


//font-style
@each $value in $font-style {
    %font-style--#{$value} {
        font-style: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $font-style {
        %font-style__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                font-style: $value;
            }
        }
    }
}


//text-align
@each $value in $text-align {
    %text-align--#{$value} {
        text-align: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $text-align {
        %text-align__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                text-align: $value;
            }
        }
    }
}


//text-decoration
@each $value in $text-decoration {
    %text-decoration--#{$value} {
        text-decoration: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $text-decoration {
        %text-decoration__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                text-decoration: $value;
            }
        }
    }
}


//text-transform
@each $value in $text-transform {
    %text-transform--#{$value} {
        text-transform: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $text-transform {
        %text-transform__#{$breakpoints}--#{$value} {
            @include media-breakpoint($breakpoints) {
                text-transform: $value;
            }
        }
    }
}


//color
@each $key, $value in $colors {
    %color--#{$key} {
        color: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $key, $value in $colors {
        %color__#{$breakpoints}--#{$key} {
            @include media-breakpoint($breakpoints) {
                color: $value;
            }
        }
    }
}
