@each $value in $text-decoration {
    %text-decoration--#{$value} {
        text-decoration: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $text-decoration {
        %text-decoration__#{$breakpoints}-max--#{$value} {
            @include media-breakpoint($breakpoints, max) {
                text-decoration: $value;
            }
        }

        %text-decoration__#{$breakpoints}-min--#{$value} {
            @include media-breakpoint($breakpoints, min) {
                text-decoration: $value;
            }
        }
    }
}
