@each $value in $visibility {
    %visibility--#{$value} {
        visibility: $value;
    }
}
@each $breakpoints, $width in $breakpoints {
    @each $value in $visibility {
        %visibility__#{$breakpoints}-max--#{$value} {
            @include media-breakpoint($breakpoints, max) {
                visibility: $value;
            }
        }

        %visibility__#{$breakpoints}-min--#{$value} {
            @include media-breakpoint($breakpoints, min) {
                visibility: $value;
            }
        }
    }
}
