<?php

if (!class_exists('msPaymentInterface')) {
    require_once MODX_CORE_PATH . 'components/minishop2/model/minishop2/mspaymenthandler.class.php';
}

class appPaymentHandler extends msPaymentHandler implements msPaymentInterface
{

}
