&__body {
    @extend %display--flex;
    @extend %background-color--#{$body__background};
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}
