@import 'config/variables';
@import 'mixins/font-face';

@each $key, $font in $font-families {
    $baseFolder: map-get($font, baseFolder);
    $baseFile: map-get($font, baseFile);
    $fontFace: map-get($font, fontFace);
    $fontId: map-get($font, baseFile);

    @each $weightKey, $fontWeightData in map-get($font, weights) {
        $weight: map-get($fontWeightData, weight);

        @each $style in map-get($fontWeightData, styles) {
            $path: $fonts-folder + $baseFolder + '/' + $weight + ' ' + $weightKey + '/' + $baseFile + '--' + $style;
            @include font-face($fontFace, $path, $style, $weight, $fontId);
        }
    }
}
