<?php

if (!class_exists('msCartInterface')) {
    require_once MODX_CORE_PATH . 'components/minishop2/model/minishop2/mscarthandler.class.php';
}

class appCartHandler extends msCartHandler implements msCartInterface
{

}
