%image-block {
    @extend %display__flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        @extend %image;
        object-fit: contain;
    }
}

%image-block--full {
    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

.image-block {
    @extend %image-block;

    &--full {
        @extend %image-block--full;
    }
}
