%input-file {
    @extend %position__relative;
    @extend %display__inline-flex;
    @extend %cursor__pointer;
    width: 100%;

    input[type="text"] {
        @extend %input-text;
        flex-grow: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    button {
        @extend %button;
        height: auto;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    input[type="file"] {
        @extend %position__absolute;
        @extend %cursor__pointer;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &:hover button {
        opacity: .8;
    }
}

.input-file {
    @extend %input-file;
}
