%input-text {
    @extend %border__black;
    @include transition__color;
    height: 3rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;

    &::placeholder {
        @extend %color__black;
        line-height: normal;
    }

    &:focus,
    &.active {
        border-color: map-get($colors, 'success');
    }

    &.error {
        border-color: map-get($colors, 'error');

        &::placeholder {
            @extend %color__error;
        }
    }

    + em.error {
        @extend %display__inline-block;
        @extend %color__error;
        margin-top: .25rem;
    }
}

.input-text {
    @extend %input-text;
}
