%input-checkbox {
    @extend %display__inline-flex;
    @extend %cursor__pointer;
    align-items: center;

    &.disabled {
        @extend %cursor__not-allowed;
        opacity: .5;
    }

    i {
        @include transition--color;
        @extend %display__inline-flex;
        @extend %border__black;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: .5rem;

        &::after {
            @extend %background-color__black;
            content: "";
            width: .75rem;
            height: .75rem;
            opacity: 0;
        }
    }

    input {
        @extend %display__none;
    }

    &:hover i,
    &.active i,
    input:checked ~ i {

    }

    &:hover i {
        opacity: .8;
    }
}

.input-checkbox {
    @extend %input-checkbox;
}
