%link {
    @extend %color__#{$link__color};
    @include transition--color;

    &:hover {
        @extend %color__#{$link__color--active};
    }

    &:hover img {
        opacity: .8;
    }
}

%link--inverted {
    color: map-get($colors, $link__color--active);

    &:hover {
        color: map-get($colors, $link__color);
    }
}

.link {
    @extend %link;

    &--inverted {
        @extend %link--inverted;
    }
}


