%list {
    line-height: 1.5em;
    list-style: none;
    counter-reset: li;
}

%list--ul {
    list-style: disc;
    margin-left: 1rem;
}

%list--ol {
    li::before {
        counter-increment: li;
        content: counter(li)'.';
    }
}

.list {
    @extend %list;

    &--ul {
        @extend %list--ul;
    }

    &--ol {
        @extend %list--ol;
    }
}
