%table {
    width: 100%;
    line-height: 1.5em;

    thead,
    tfoot {
        @extend %background-color__grey;
        @extend %font-weight__bold;
    }

    tbody {
        tr:nth-child(odd) {
            @extend %background-color__white;
        }

        tr:nth-child(even) {
            @extend %background-color__grey;
        }
    }

    td,
    th {
        @extend %border__black;
        padding: .5rem 1rem;
    }

    th {
        @extend %font-weight__bold;
    }
}

.table {
    @extend %table;
}
