%table {
    margin-bottom: .75em;
    line-height: 1.5em;

    thead,
    tfoot {
        @extend %background--grey;
        @extend %font-weight--bold;
    }

    tbody {
        tr:nth-child(odd) {
            @extend %background--white;
        }

        tr:nth-child(even) {
            @extend %background--grey;
        }
    }

    td,
    th {
        @extend %border--black;
        padding: .5rem 1rem;
    }

    th {
        @extend %font-weight--bold;
    }
}

.table {
    @extend %table;
}
