//background-color
@each $key, $value in $colors {
    %background--#{$key} {
        background-color: $value;
    }
}
@each $breakpoint, $width in $grid-breakpoints {
    @each $key, $value in $colors {
        %background__#{$breakpoint}--#{$key} {
            @include mediaBreakpoint($breakpoint, max) {
                background-color: $value;
            }
        }
    }
}

//border
@each $key, $value in $colors {
    %border--#{$key} {
        border: 1px solid $value;
    }

    %border-top--#{$key} {
        border-top: 1px solid $value;
    }

    %border-right--#{$key} {
        border-right: 1px solid $value;
    }

    %border-bottom--#{$key} {
        border-bottom: 1px solid $value;
    }

    %border-left--#{$key} {
        border-left: 1px solid $value;
    }
}
@each $breakpoint, $width in $grid-breakpoints {
    @each $key, $value in $colors {
        %border__#{$breakpoint}--#{$key} {
            @include mediaBreakpoint($breakpoint, max) {
                border: 1px solid $value;
            }
        }

        %border-top__#{$breakpoint}--#{$key} {
            @include mediaBreakpoint($breakpoint, max) {
                border-top: 1px solid $value;
            }
        }

        %border-right__#{$breakpoint}--#{$key} {
            @include mediaBreakpoint($breakpoint, max) {
                border-right: 1px solid $value;
            }
        }

        %border-bottom__#{$breakpoint}--#{$key} {
            @include mediaBreakpoint($breakpoint, max) {
                border-bottom: 1px solid $value;
            }
        }

        %border-left__#{$breakpoint}--#{$key} {
            @include mediaBreakpoint($breakpoint, max) {
                border-left: 1px solid $value;
            }
        }
    }
}