.button {
    @extend %display--inline-flex;
    @extend %border--transparent;
    justify-content: center; align-items: center;
    height: pxToRem(56);
    padding: 0 pxToRem(36);
    border-width: 2px;
    border-radius: 2px;
    letter-spacing: 0;
}