.list {
    list-style: none;
    counter-reset: li;
    margin-bottom: $text-margin; padding-left: 20px;

    ul, ol {
        margin: 1em 2em;
        counter-reset: li;
    }

    li {
        @extend %position--relative;
        margin-bottom: 1em; padding-left: 1.5em;
        line-height: 1.2em;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @extend %position--absolute;
            left: 0;
            margin: auto;
        }
    }
}

ul.list li:before {
    @extend %background--link-base;
    content: '';
    top: 6px;
    width: 6px; height: 6px;
    border-radius: 50%;
}

ol.list li:before {
    @extend %color--link-base;
    counter-increment: li;
    content: counter(li)'.';
    top: 2px;
    font-size: 1em;
}