.table {
    @extend %background--white;
    width: 100%;
    margin-bottom: $text-margin;

    td {
        @extend %border--black;
        padding: pxToRem(15) pxToRem(20);
        line-height: $text-line-height;
    }

    thead,
    tfoot {
        @extend %font-weight--bold;
        border-width: 3px;
    }

    thead {
        @extend %border-bottom--black;
    }

    tfoot {
        @extend %border-top--black;
    }

    tbody {
        tr {
            &:nth-of-type(odd) {
                @extend %background--grey;
            }

            &:hover {
                @extend %background--grey;
            }
        }
    }
}