html {
    @extend %color--font-base;
    font-family: $font-family-default;
    font-weight: $font-weight;
    font-size: map-get($font-sizes, desktop);
    letter-spacing: $letter-spacing;

    @include mediaBreakpoint(lg, max) {
        font-size: map-get($font-sizes, tablet);
    }

    @include mediaBreakpoint(md, max) {
        font-size: map-get($font-sizes, phone);
    }
}


body {
    @extend %display--flex;
    @extend %background--body-background;
    flex-direction: column;
    min-height: 100vh;

    &.no-scroll {
        overflow: hidden;
    }

    & > * {
        flex: 0 0 auto;
    }
}


main {
    flex-grow: 1;
}


.container {
    @extend %position--relative;
    width: 100%;
    min-width: $wrapper-min-width;
    max-width: $wrapper-max-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: pxToRem($wrapper-padding);
    padding-left: pxToRem($wrapper-padding);
}